<?xml version="1.0" encoding="utf-8" ?>
<!--Copyright 2022 Esri-->

<!--Licensed under the Apache License Version 2.0 (the "License");-->
<!--you may not use this file except in compliance with the License.-->
<!--You may obtain a copy of the License at-->

<!--     http://www.apache.org/licenses/LICENSE-2.0-->

<!--Unless required by applicable law or agreed to in writing, software-->
<!--distributed under the License is distributed on an "AS IS" BASIS,-->
<!--WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.-->
<!--See the License for the specific language governing permissions and-->
<!--limitations under the License.-->
<configuration>
  <appSettings>
    <add key="gRPC_endpoint_URL" value="" /><!--the gRPC endpoint URL where messages should be sent-->
    <add key="gRPC_endpoint_header_path" value="" /><!--the gRPC endpoint header path-->
    <add key="streamData" value="false" /><!--if true will stream data; if false will send unary requests -->
    <add key="authenticationArcGIS" value="true" /> <!--true == use ArcGIS authentication, false == no authentication-->
    <add key="tokenPortalUrl" value="/" /> <!--only used if authenticationArcGIS is true. The url to the portal to be used for requesting an authentication token-->
    <add key="username" value="" /> <!--only used if authenticationArcGIS is true. The username for requesting an authentication token-->
    <add key="password" value="" /> <!--only used if authenticationArcGIS is true. The password for requesting an authentication token-->
    <add key="tokenExpiry" value="21600" /><!--the requested duration in minutes of a user token; 21600 is the max allowed value-->
    <add key="geotabServer" value="" /> <!--the Geotab server -->
    <add key="geotabDatabase" value="" /><!--the Geotab database to access-->
    <add key="geotabUsername" value="" /><!--the Geotab user name to access the Geotab server and database-->
    <add key="geotabPassword" value="" /> <!--The password for geotabUsername-->
    <add key="sendInterval" value="5000" /><!--the interval in milliseconds between batches-->
    <add key="outputFilepath" value="" /><!--The path to a local folder where data should be written in csv files. Ignored if empty-->
    <add key="outputToConsole" value="false" /><!--if true will generate output in the console--> 
  </appSettings>
</configuration>
